{% load static %}
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <style>
        button{
       background-color: #4CAF50;
       width: 25%;
       padding: 15px;
       color: black;
       border: none;
       float: center;
       font-size: 15px;
        }
        button:hover{
         opacity:0.7;
        }
     </style>
    </head>
    <body>
      <div>
      <b class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <p>Hello {{request.user}}</p>
      </div><br>
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <a href="{% url 'logout' %}" type="button" class="btn btn-primary btn-lg">LogOut</a>
      </div>
    </body>
</html>
